* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    /* border: 1px solid red; */
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

/* NAVBAR */

.navbar {
    background-color: #1A0B2E;

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
    padding: 15px ;
    border-bottom: 1px solid #9100F8;
}

.logo {
    color: white;
    font-size: 3rem;
}

.Wave {
    background: linear-gradient(360deg, #F7E93F, #FB09B4, #9100F8);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn {
    padding: 12px 16px;
    border-radius: 10000px;
    border-style: none;
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: 135px;
    height: 44px;
    transition: all 0.5s ease 0.1s;
    letter-spacing: 0.5px;
}

.btn:hover {
    transform: scale(1.05);

    cursor: pointer;
    background: linear-gradient(100deg, #F7E93F, #FB09B4, #9100F8);
}

ul {
    display: flex;
    text-align: center;

    gap: 50px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #F7E93F;
    transform: scale(1.05);

}


/* BANNER SECTION */

.banner {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.banner-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.circle {

    position: relative;
    margin-top: 100px;

}

.mic {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 50px;
}

.new{
    width: 60px;
    height: 30px;
    padding: 8px 16px;
    background-color: #00FF88;
    color: #1A0B2E;
    border-radius: 1000px;
    font-size: 1.35rem;
    font-weight: 500;
    position: relative;
    display: inline-block;
    right: 220px;
    margin-left: 630px;
    margin-top: 65px;
    /* left: 300px; */
    bottom: 420px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}


.banner-description {
    display: flex;
    flex-direction: column;
    /* margin-top: 40px; */
}

.banner-title {
    color: white;
    font-size: 3.8rem;
    font-weight: 800;
    /* padding-top: -50px; */

}

.description {
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-btns {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.btn-1 {
    padding: 12px 20px;
    border-radius: 10000px;
    border-style: none;
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: 180px;
    height: 44px;
    transition: all 0.5s ease 0.1s;

}

.btn-2 {
    padding: 12px 20px;
    border-radius: 10000px;
    border-style: none;
    border: 2px solid #00FF88;
    font-size: 16px;
    font-weight: 500;
    color: #00FF88;
    width: 147px;
    height: 44px;
    transition: all 0.5s ease 0.1s;
    background-color: #1A0B2E;

}

.btn-1:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: linear-gradient(100deg, #F7E93F, #FB09B4, #9100F8);
}

.btn-2:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #00FF88;
    border: 2px solid #4b037e;
    color: #1A0B2E;
}

main {
    background-color: #1A0B2E;
    width: 100%;

}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

}

.about-description {
    padding: 20px 200px 50px 200px;
}

.title {
    color: white;
    font-size: 3rem;
    font-weight: 700;

}

.about-paragraph {
    color: white;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 20px;
    line-height: 30px;
    /* height: 148px; */
}

hr {
    width: 80%;
}


.data {
    display: flex;
    color: white;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
    /* max-width: 1200px; */
    width: 100%;
    margin-bottom: 120px;
}



#numbers {
    color: #00FF88;
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 16px;

}

#data-desc {
    color: white;
    font-size: 16px;
    font-weight: 300;

}

.why {

    width: 100%;

    background-color: #230e3d;

    margin: 0 auto;
}

.why .title{
    text-align: center;
    padding-top: 100px;
}

.why-cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.why-cards > div{
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 15px;
    padding: 40px;
   

}

.card-1{
    grid-column: span 1;
    grid-row: span 2;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
     line-height: 24px;
    



}

.card-1 img{
    margin-top: 55px;
    margin-bottom: 16px;
}

.card-1 > #card-title{
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-2, .card-3{
    grid-column: span 2;
}
.card-4{
    grid-column: span 2;
}

.card-5{
    grid-column: span 1;
    grid-row: span 1;
}

.card-1, .card-2{
    margin-top: 50px;
}



#card-title, .video-title{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 25px;
   
}


#card-desc , .video-desc, .host-desc ,.footer-desc{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 300;
}

.card-1 > #card-desc{
    width: 100%;
    height: 100%;

}

/* FEATURED SECTION */

.featured{
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
   
    /* border: 2px solid red; */
    
    /* max-width: 1100px; */
    /* text-align: center; */
    /* align-items: center; */
}



.featured-title, .host-title{
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 3rem;
    font-weight: 700;
}
.featured-videos{
    display:flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
  
}

.featured-videos > div{
    
    background-color: #250d44;
    
    border-radius: 15px;
}

iframe{
    width: 100%;
}

.video{
    width: 395px;
    height: 440px;
    padding: 24px;
}

/* .video-title{
    padding: 0 24px 0 24px;
}

.video-desc{
    padding:0 24px;
} */

.time{
    margin-top: 20px;
    color: #00FF88;
    display: flex;
    gap: 5px;
    /* padding: 0 24px; */
}

.time img{
    height: 20px;
    width: 20px;
}

.host{
    width: 100%;
    padding-bottom: 120px;
    /* height: 50%; */
}
.host-container{
    max-width: 1100px;
    width: 100%;
    max-height: 280px;
    border-radius: 10px;
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #250d44;
    padding: 40px;
    margin-top: 40px ;
     /* margin-bottom: 120px; */
    /* padding-bottom: 120px; */
}

.host-name{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.host-icons{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* border-radius: 100px; */
    /* border: 1px solid linear-gradient(100deg, #F7E93F, #FB09B4, #9100F8) ; */
    /* justify-content: center; */
    align-items: center;
    /* padding: 5px; */
    width: 184px;
    height: 40px;
    /* border: 1px solid red; */
}


.img-container{
    height: 35px;
    width: 35px;
    border: 1px solid #533c72;
    border-radius: 50%;
    /* padding: 5px; */
    /* margin: 0; */
    justify-content: center;
    align-items: center;
    display: flex;
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}
.host-icons img{
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
    /* object-fit: contain; */
    display: block;
    
    
    
   
}



footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 412px;
    /* padding-top: 120px; */
    /* position: sticky; */
}


.footer-logo {
    color: white;
    font-size: 5rem;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 15px;
    
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    /* height: 60px; */
    
    /* border: 2px solid red; */
    

} 

.footer-icons-container{
    width:544px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    /* padding-top: 15px; */
}

.footer-icons{
    display: flex;
    gap: 5px;
}

.footer-icons > p{
    color: ;
}

.copyright{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}





@media screen and (max-width:576px) {
    /* .navbar {
        /* display: flex; */
        justify-content: space-around;

    /* }  */

    .navbar{
        display: hidden;
    }

    .btn{
        display: hidden;
    }

    .banner {
        width: 100%;
    }

}