* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

/* NAVBAR */

.navbar {
    background-color: #1A0B2E;

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
    padding: 15px;
    border-bottom: 1px solid #9100F8;
}

.hamburger {
    display: none;
}

.logo {
    color: white;
    font-size: 3rem;
}

.Wave {
    background: linear-gradient(360deg, #F7E93F, #FB09B4, #9100F8);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn {
    padding: 12px 16px;
    border-radius: 10000px;
    border-style: none;
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: 135px;
    height: 44px;
    transition: all 0.5s ease 0.1s;
    letter-spacing: 0.5px;
    animation: colorCycle 4s ease infinite;
}

.btn-1:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: linear-gradient(100deg, #F7E93F, #FB09B4, #9100F8);
    animation: colorCycle 4s ease infinite;
}


.btn:hover {
    transform: scale(1.05);

    cursor: pointer;
    background: linear-gradient(100deg, #F7E93F, #FB09B4, #9100F8);
}

ul {
    display: flex;
    text-align: center;

    gap: 50px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    color: #F7E93F;
    transform: scale(1.05);

}


/* BANNER SECTION */

.banner {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.banner-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.circle {

    position: relative;
    margin-top: 100px;

}

.mic {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 50px;
}

.new {
    width: 60px;
    height: 30px;
    padding: 8px 16px;
    background-color: #00FF88;
    color: #1A0B2E;
    border-radius: 1000px;
    font-size: 1.35rem;
    font-weight: 500;
    position: relative;
    display: inline-block;
    right: 220px;
    margin-left: 630px;
    margin-top: 65px;
    bottom: 420px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    animation: glowPulse 2s infinite ease-in-out;
}

@keyframes glowPulse {
    0%, 100% {
        box-shadow: 
            0 0 15px 3px rgba(0, 255, 136, 0.7),
            0 0 25px 8px rgba(0, 255, 136, 0.4);
    }
    50% {
        box-shadow: 
            0 0 20px 5px rgba(0, 255, 136, 0.8),
            0 0 35px 12px rgba(0, 255, 136, 0.5);
    }
}

.banner-description {
    display: flex;
    flex-direction: column;
}

.banner-title {
    color: white;
    font-size: 3.8rem;
    font-weight: 800;
}

.description {
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-btns {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.btn-1 {
    padding: 12px 20px;
    border-radius: 10000px;
    border-style: none;
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: 180px;
    height: 44px;
    transition: all 0.5s ease 0.1s;
    animation: colorCycle 4s ease infinite;
}

.btn-1:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: linear-gradient(100deg, #F7E93F, #FB09B4, #9100F8);
    animation: colorCycle 4s ease infinite;
}

@keyframes colorCycle {
    0% {
        background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
        background-size: 200% 200%;
        background-position: 0% 50%;
    }
    33% {
        background: linear-gradient(90deg, #FB09B4, #9100F8, #F7E93F);
        background-size: 200% 200%;
        background-position: 50% 50%;
    }
    66% {
        background: linear-gradient(90deg, #9100F8, #F7E93F, #FB09B4);
        background-size: 200% 200%;
        background-position: 100% 50%;
    }
    100% {
        background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
        background-size: 200% 200%;
        background-position: 0% 50%;
    }
}



.btn-2 {
    padding: 12px 20px;
    border-radius: 10000px;
    border-style: none;
    border: 2px solid #00FF88;
    font-size: 16px;
    font-weight: 500;
    color: #00FF88;
    width: 147px;
    height: 44px;
    transition: all 0.5s ease 0.1s;
    background-color: #1A0B2E;
}



.btn-2:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #00FF88;
    border: 2px solid #4b037e;
    color: #1A0B2E;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 136, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 255, 136, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 255, 136, 0);
    }
}

main {
    background-color: #1A0B2E;
    width: 100%;

}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

}

.about-description {
    padding: 20px 200px 50px 200px;
    margin: 0 auto;
}

.title {
    color: white;
    font-size: 3rem;
    font-weight: 700;

}

.about-paragraph {
    color: white;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 20px;
    line-height: 30px;
}

hr {
    width: 80%;
}


.data {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 120px;
}



#numbers {
    color: #00FF88;
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 16px;

}

#data-desc {
    color: white;
    font-size: 16px;
    font-weight: 300;

}

.why {

    width: 100%;

    background-color: #230e3d;

    margin: 0 auto;
}

.why .title {
    text-align: center;
    padding-top: 100px;
}

.why-cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.why-cards>div {
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 15px;
    padding: 40px;


}

.card-1 {
    grid-column: span 1;
    grid-row: span 2;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    line-height: 24px;




}

.card-1 img {
    margin-top: 55px;
    margin-bottom: 16px;
}

.card-1>#card-title {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-2,
.card-3 {
    grid-column: span 2;
}

.card-4 {
    grid-column: span 2;
}

.card-5 {
    grid-column: span 1;
    grid-row: span 1;
}

.card-1,
.card-2 {
    margin-top: 50px;
}



#card-title,
.video-title {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 25px;

}


#card-desc,
.video-desc,
.host-desc,
.footer-desc {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 300;
}

.card-1>#card-desc {
    width: 100%;
    height: 100%;

}

/* FEATURED SECTION */

.featured {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



.featured-title,
.host-title {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.featured-videos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 30px;

}

.featured-videos>div {

    background-color: #250d44;

    border-radius: 15px;
}

iframe {
    width: 100%;
}

.video {
    width: 395px;
    height: 440px;
    padding: 24px;
}


.time {
    margin-top: 20px;
    color: #00FF88;
    display: flex;
    gap: 5px;
}

.time img {
    height: 20px;
    width: 20px;
}

.host {
    width: 100%;
    padding-bottom: 120px;
}

.host-container {
    max-width: 1100px;
    width: 100%;
    max-height: 280px;
    border-radius: 10px;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #250d44;
    padding: 40px;
    margin-top: 40px;
}

.host-name {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;

}

.host-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    width: 184px;
    height: 40px;
}


.img-container {
    height: 35px;
    width: 35px;
    border: 1px solid #533c72;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.host-icons img {
    height: 100%;
    width: 100%;
    display: block;
}


/* FOOTER SECTION */

footer {
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 412px;

}


.footer-logo {
    color: white;
    font-size: 5rem;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 15px;

    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;


}

.footer-icons-container {
    width: 544px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}

.footer-icons {
    display: flex;
    gap: 5px;
}

.copyright {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}





@media screen and (max-width:576px) {
    .navbar {
        display: flex;
        height: auto;
        justify-content: space-between; 
        padding: 16px 20px;
       
    }

    .navbar a {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .btn {
        display: none;
    }


    /* BANNER SECTION */
    .banner {

        background-image: url(../assets/hero-bg-576.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        min-height: 446px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;


    }

    .banner-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .circle {
        width: 60%;
        display: block;
        margin-top: 80px;
    }

    .mic {
        width: 20%;
    }

    .new {
        width: 38px;
        height: 22px;
        padding: 9px 17px;
        background-color: #00FF88;
        color: #1A0B2E;
        border-radius: 1000px;
        font-size: 1.1rem;
        font-weight: 400;
        box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
        top: -270px;
        right: 250px;
    }

    .banner-title {
        color: white;
        font-size: 3.3rem;
        font-weight: 800;
        margin-top: -54px;

    }

    .banner-btns {
        gap: 30px;
        margin-bottom: 40px;
    }


    /* ABOUT SECTION */
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        width: 100%;
        min-height: 207px;
        min-width: 400px;
        padding: 0 20px;
        box-sizing: border-box;

    }

    .about-description {
        margin: 20px;
        width: 100%;
        padding: 20px;

    }

    .title {
        color: white;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    .about-paragraph {
        color: white;
        font-size: 15px;
        margin-top: 12px;
        margin-bottom: 20px;
        line-height: 30px;
        width: 100%;
    }

    hr {
        margin-top: -50px;
        width: 80%;
    }

    /* DATA SECTION */
    .data {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
    }

  
    /* WHY SECTION */
    .why-cards {
        grid-template-columns: 1fr;
        padding: 20px;
        align-items: center;
    
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5 {
        grid-column: span 1;
        
    }


    /* FEATURED SECTION */
    .featured-videos {
        flex-direction: column;
    }

    .featured-title{
        font-size: 2.5rem;
    }


    /* HOST PART */

    .host-container {
        flex-direction: column;
        width: 400px;
        height: auto;
        max-height: none;
        margin: 20px;
        padding: 30px 20px;
        gap: 20px;
        text-align: center;
    }

    .host-container img {
        max-width: 200px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .host-name {
        font-size: 1.5rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .host-desc {
        font-size: 14px;
        line-height: 1.6;
        padding: 0 10px;
    }

    .host-icons {
        justify-content: center;
        width: 100%;
    }


    /* FOOTER SECTION */
    footer {
        background-image: url(../assets/footer-bg-576.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 248px;
        padding-bottom: 40px;
    }

    .footer-logo {
        color: white;
        font-size: 3rem;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 10px;

        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .footer-icons-container {
        width: 255px;
        height: 64px;
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        gap: 15px;  
        /* justify-content: center;     */
        /* margin: 0 auto; */
    }
    
    .footer-icons img{
        width: 24px;
        height: 24px;
    }
    

    .copyright {
        margin-top: 5px;
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        
    }

}