* {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

/* Header */

.navbar {
    background-color: #1A0B2E;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 15px 150px;
}

.logo {
    color: white;
    font-size: 3rem;
}

.Wave {
    background: linear-gradient(360deg, #F7E93F, #FB09B4, #9100F8);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

button{
    padding: 12px 16px;
    border-radius: 10000px;
    border-style: none;
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8); 
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: 135px;
    height: 44px;
}

button:hover{
    transform: ;
}

ul {
    display: flex;
    /* justify-content: space-around;
     */
    gap: 32px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}